@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/glacial-indifference-2");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Inter:opsz,wght@14..32,100..900&display=swap");

body {
    background-color: #0F0823;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.001) inset !important;
    transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
    background-color: transparent !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

@-moz-document url-prefix() {
    input:autofill {
        filter: none;
        background-color: rgba(255, 255, 255, 0.001) !important;
    }
}

@theme {
    --color-darkblue-50: oklch(0.95 0.0255 283.49);
    --color-darkblue-100: oklch(0.91 0.0464 282.76);
    --color-darkblue-200: oklch(0.83 0.0895 283.56);
    --color-darkblue-300: oklch(0.72 0.1506 282.36);
    --color-darkblue-400: oklch(0.62 0.2091 282.85);
    --color-darkblue-500: oklch(0.56 0.2506 282.59);
    --color-darkblue-600: oklch(0.52 0.2784 282.44);
    --color-darkblue-700: oklch(0.47 0.2572 282.36);
    --color-darkblue-800: oklch(0.41 0.2149 282.81);
    --color-darkblue-900: oklch(0.36 0.169 284.74);
    --color-darkblue-950: oklch(0.16 0.0542 291.35);
    --color-barwhite: #D1D1D1;
    --color-subwhite: #b4b1bf;

    --color-feature-background: rgba(255, 255, 255, 0.018);
    --color-blue-lavender: #bebfff;
    --color-lavender: #b794db;


    --font-glacial: Glacial Indifference;
    --font-poppins: poppins;
    --font-inter: Inter;

    --breakpoint-xxs: 230px;

    --animate-typing: typing 1.7s steps(20), blink 1s infinite;
    --animate-infinite-typing: typing 1.7s steps(20) infinite alternate, blink 1s infinite;
    --animate-ping: ping 1.5s linear infinite;
    --animate-fade-in: fade-in .5s ease-in-out;
    --animate-fade-left: fade-left 1000ms linear;
    --animate-paddle-move-1: paddle-move-1 4s linear infinite alternate;
    --animate-paddle-move-2: paddle-move-2 4s linear infinite alternate;

    @keyframes fade-left {
        0% {
            opacity: 0;
            transform: translateX(30px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes typing {
        0% {
            width: 10%;
            visibility: hidden;
        }
        100% {
            width: 100%
        }
    }
    @keyframes blink {
        50% {
            border-color: transparent;
        }

        100% {
            border-color: var(--color-darkblue-300);
        }
    }

    @keyframes paddle-move-1 {
        0% {
            transform: translateY(-50%) translateX(0%);
        }
        50% {
            transform: translateX(5px);
        }
        100% {
            transform: translateY(50%) translateX(0%);
        }
    }

    @keyframes paddle-move-2 {
        0% {
            transform: translateY(50%) translateX(0%);
        }
        50% {
            transform: translateX(5px);
        }
        100% {
            transform: translateY(-50%) translateX(0%);
        }
    }

}
